<div class="row margens2 transparent z-depth-0 white-text">
		<div class="container">
			<div class="col l6 m12 s12 push-l3 pink darken-3 z-depth-3">
				<h1 class="centro">Contato</h1>
				<p class="centro">Aqui você pode deixar uma breve mensagem para a equipe da MPr!</p>
		        <div class="colunas">
		        	<div class="input-field col s12">
          				<textarea id="textarea1" class="materialize-textarea"></textarea>
          				<label for="textarea1">Digite sua mensagem</label>
        			</div>
		        	<div class='input-field col s12'>
                		<input class='validate' type='email' name='email' id='email' />
                		<label for='email'>Digite seu email para eventuais respostas</label>
           			</div>
           			<div class='input-field col s12'>
                		<input class='validate' type='password' name='password' id='password' />
                		<label for='email'>Digite seu nome completo</label>
           			</div>
           			<button type='submit' name='btn_login' class='botao_login col s12 btn btn-large waves-effect pink lighten-3'>Login</button>
		        </div>
		        <p class="centro">Se preferir, contate-nos por email ou telefone:</p>
		        <p class="centro">+55 21 2334 5566</p>
		        <p class="centro">madokaproductions@ejcm.com.br</p>
			</div>
		</div>
</div>