<div class="row margens2 pink darken-3 z-depth-3 white-text">
		<div class="container">
			<div class="col l12 m12 s12"><!--div do header-->
				<h1 class="centro">Sobre a Madoka Productions</h1>
			</div>
			<div class="col l4 m6 s12">
		        <div class="colunas">
		        	<h3>Quem somos?</h3>
		            <p>
		            	Madoka Productions é uma produtora de séries animadas, mundialmente conhecida 
		            	por seu anime Puella Magi Madoka★Magica.
		        	</p>
		        </div>
			</div>
			<div class="col l4 m6 s12">
		        <div class="colunas">
		        	<h3>Nossa história</h3>
		            <p>
		            	Fundada em 2018 pelo designer gráfico Matheus Avellar, na cidade do Rio de Janeiro,
		            	nos tornamos mundialmente conhecidos como a primeira produtora brasileira a atingir
		            	prestígio internacional.
					</p>
		        </div>
			</div>
			<div class="col l4 m6 s12">
		        <div class="colunas">
		        	<h3>Projetos</h3>
		            <p>
		            	No momento, focamos na produção do anime Jojo's Bizarre Adventure: Stone Ocean.
					</p>
		        </div>
			</div>
		</div>
</div>