<div class="row margens2 transparent z-depth-0 white-text">
		<div class="container">
			<div class="col l6 m12 s12 push-l3 pink darken-3 z-depth-3">
				<h1 class="centro">Login</h1>
		        <div class="colunas">
		        	<div class='input-field col s12'>
                		<input class='validate' type='email' name='email' id='email' />
                		<label for='email'>Digite seu email</label>
           			</div>
           			<div class='input-field col s12'>
                		<input class='validate' type='password' name='password' id='password' />
                		<label for='email'>Digite sua senha</label>
           			</div>
           			<button type='submit' name='btn_login' class='botao_login col s12 btn btn-large waves-effect pink lighten-3'>Login</button>
		        </div>
			</div>
		</div>
</div>