<div class="row transparent white-text margens">
	<div class="container">
		<div class="col l12 m12"><!--div do header de Portfolio-->
			<h1 class="centro pink-text text-darken-2">Nossos Animes</h1>
		</div>

		<div class="col l4 m6 s12">
			<div class="card z-depth-3">
        		<div class="card-image">
          			<img src="assets/img/madoka.png">
          			<span class="card-title">Puella Magi Madoka★Magica</span>
        		</div>
        		<div class="card-action pink darken-3">
          			<a href="#" class="purple-text text-lighten-3">Trailer</a>
        		</div>
      		</div>
		</div>

		<div class="col l4 m6 s12">
			<div class="card z-depth-3">
        		<div class="card-image">
          			<img src="assets/img/mbcolors.png">
          			<span class="card-title">Mitsuboshi Colors</span>
        		</div>
        		<div class="card-action pink darken-3">
          			<a href="#" class="purple-text text-lighten-3">Trailer</a>
        		</div>
      		</div>
		</div>

		<div class="col l4 m6 s12">
			<div class="card z-depth-3">
        		<div class="card-image">
          			<img src="assets/img/tpn.jpg">
          			<span class="card-title">The Promised Neverland</span>
        		</div>
        		<div class="card-action pink darken-3">
          			<a href="#" class="purple-text text-lighten-3">Trailer</a>
        		</div>
      		</div>
		</div>

	</div>
</div>