<nav class="pink darken-3 z-depth-1">
   	<div class="nav-wrapper">
		<a href="#" class="brand-logo titulo">Madoka Productions</a>
   		<ul id="nav-mobile" class="right hide-on-med-and-down">
      		<li routerLinkActive="active"><a routerLink="/home">Home</a></li>
      		<li routerLinkActive="active"><a routerLink="/sobre">Sobre Nós</a></li>
      		<li routerLinkActive="active"><a routerLink="/contato">Contato</a></li>
      		<li routerLinkActive="active"><a routerLink="/login">Login</a></li>
		</ul>
	</div>
</nav>